@import "tailwindcss";
* {
  font-family: "Ubuntu", sans-serif;
  scrollbar-color: #ffffff #000000; /* thumb color track color */
  scrollbar-width: thin; /* auto | thin | none */
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

button {
  cursor: pointer;
}
